body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: #e3dddd;
    font-family : sans-serif;
    font-size: 16px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    position: fixed;
    width: 100%;
    background: #9c27b0;
    min-height: 5%;
    top: 0;
    z-index: 900;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);

}
.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 9px 0px;
}
.brand{
    flex-basis: 10%;
    font-weight: bolder;
    font-size: 1.2rem;
    color: aliceblue;
    text-shadow: #ccc;
    padding: 0px 5px;
}
.nav-item{
    flex-basis: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-item a:link{
    margin: 0px 10px;
    text-decoration: none;
    background: #fff;
    color: blue;
    border-radius: 40px;
    font-size: 0.9rem;
    padding: 8px 12px;
    transition: all 200ms ease;
    outline: none;
}
.nav-item a:visited{
    color: darkblue;

}
.nav-item a:visited:hover, .nav-item a:hover{
    background: #ffffffd6;
    color: rgb(57, 57, 230);  
}

.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-content{
    width: 100%;
    position: relative;
    /* min-height: 70%; */
}
.app, .loader-container{
    min-height: 400px;
    background: #fff;
    margin: 100px 20% 50px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    padding: 15px;
    color: darkblue;
}
.app{
    display: none;
}
.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-image{
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}
.matched{
    background: yellow;
    padding: 0px 4px;
    margin: 0px 4px;
    display: inline-flex;
}
.content-container{
    flex-direction: row;
}
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #66229ed7;
    width: 50px;
    height: 50px;
    display: inline-block;
    -webkit-animation: spin .9s linear infinite; 
    animation: spin .9s linear infinite;
    vertical-align: middle;
    margin: 0px 7px;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.footer{
    background: black;
    min-height: 100px;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #9c27b0;
}
@media screen and (max-width: 631px){
    .app, .loader-container{
        margin: 100px 10%;
    }
    .user-image{
        width: 200px;;
        height: 200px;
    }
    .nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    .brand{
        flex-basis: 10%;
        padding: 5px 0px;
    }
    .nav-item{
        flex-basis: 90%;
        justify-content: center;
        padding: 5px 0px;
    }
    .nav-item a:link{
        font-size: 0.8rem;
        padding: 5px 10px;
    }
}
.error{
    font-weight: bold;
    color: #E91E63;
}
@media screen and (max-width: 400px){
    .app, .loader-container{
        margin: 150px 0% 50px !important;
        min-height: 60vh;
    }
    .nav-item a:link{
        margin: 5px;
     }
    .user-image{
        width: 180px;;
        height: 180px;
        
    }
    .nav-item{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 330px){
    .nav-item a:link{
       margin: 5px;
    }
}
@media screen and (max-width: 260px){
    .app, .loader-container{
        min-height: 53vh;
    }
}
.code-example{
    background: #130415;
    color: yellow;
    min-width: 50%;
    border-radius: 10px;
    overflow-x: auto;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
}
.comment{
    color: #b2abb7;
    font-size: 0.8rem;
}